body {
    background-color: #3399ff;
    background-image: url(images/lucht.jpg);
    background-repeat: no-repeat;
    background-size: 100%;        
    font-family: sans-serif;
    text-align: center;
    margin: 0px;
}
a {
    color: antiquewhite;
}

.artikelList {
    list-style-type: none;
    align-content: center;
    padding: 0px;
    margin: 15px 0px 5px 0px;
}
.artikelList li {
    display: inline-block;
}
.artikelList li p{
    max-width: 250px;    
}

h1 {
    padding-top: 5px;
    padding-bottom: 2px;
    margin-bottom: 2px;
}

#footer {
    position: fixed;
    bottom: 5px;
    right: 15px;
}

#header {
    background-image: url(images/plankheader.jpg);
    padding: 0px;
    margin: 0px;   
}

.klantList {
    list-style-type: none;
    align-content: center;
    padding: 0px;
    margin: 15px 0px 5px 0px;
}

.klantList li div p {    
    max-width: 250px;
    display: inline;
}

div.errors {
    color: red;
}